*{
    font-family:'kadm thmor pro' , sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: nome;
    background-color: #107C10 ;}

header{

    background-color: #107C10 ;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-around}

nav{

    width: 75%;}

ul{

    display: flex;
    align-items: center;
    justify-content: space-between;}

li{
    color: white;
    font-size: 19px;
    cursor: pointer;
    font-family:'kadm thmor pro' , sans-serif;}


#logo {

    height: 65px;
    width: auto;}

.sobre {

    background-color: #EEEEEE;
    height: 45px;
    display: flex;
    align-items: center;}

.nos {

    margin-left: 8%;
    background-color: #EEEEEE;}

h1 {

    color: white;
    margin-left: 25%;
    margin-top: 41px;}

.paragrafo {

    background-color:white;}

p { 

    text-align: justify;
    margin-left: 25%;
    width: 50%;
    color: white;
    background-color:#107C10;
    margin-top: 10px;}

.esquadrao {

border-top: solid 1px white;
width: 50%;
margin-left: 25%;
display: flex;}

.esquadrao1 {

    border-top: solid 1px white;
    border-bottom: solid 1px white;
    width: 50%;
    margin-left: 25%;
    display: flex;}

img { 

    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;}

#suicida { 

text-align: justify;
margin-left: 20px;
width: 81%;
margin-top: 13px;}

.es { 

   display: flex;
   margin-left: auto;
   margin-right: auto;
   margin-top: 29px;
   width: 115px;
   
   }
        
.direitos {
            
    text-align: center;
   margin-top: -20px;
    width: 100%;
    margin-left: 0%;
    position: absolute;}
  
a {

    color: white;
    text-decoration: none;}

a:hover {

    text-decoration:underline;}

    @media screen and (max-width:941px) {

        div {

            flex-direction: column;
        }

        .nos {

            margin-top: 13px;
            margin-left: -11%;}

        .sobre {

            width: 117%;}

        img {

            margin-left: -21%;
            width: 142%;}

            margin-bottom: 10px;}

            header {
        
                width: 107%;}
        
            #logo {
        
                display: none;}
        
            li { 
                        
                font-size: 94%;}






















        
    }

    

